@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    font-family: Poppins, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #E5E3CA;
}

body {
    background: url(img.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center -10px;
    height: 100vh;
    width: 100%;
}

a {
    text-decoration: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    backdrop-filter: blur(50px);
}

.navbar .navbar-logo, .navbar-links {
    margin: 0.1% 10%;
}

.navbar .navbar-links a {
    font-size: 24px;
    padding: 0 16px;
}

.quote-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 48px;
    backdrop-filter: blur(15px);
    margin: 12.5% auto;
    width: 50%;
    border-radius: 16px;
    overflow: hidden;
}

.quote-section .author {
    align-self: flex-end;
    margin-right: 25%;
}

.quote-section::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.2);
}